{% include 'navbar.html' %}
<body class="add_gym_trainer">
    <div class=" w-30 m-100 card_add_trainer">
        <form action="change_password_action" method="post">
            <div class=" p-20">
                <input type="hidden" name="gym_trainer_id" value="{{gym_trainer_id}}">
                <div class="form-input mt-10">
                    <label for="password">New Password</label>
                    <input type="password" id="password" name="password" class="input w-100 mt-10 p-15"  placeholder="Enter New Password" required>
                </div>
                <div class="form-input mt-10">
                    <label for="conform_password">Conform Password</label>
                    <input type="password" id="conform_password" name="conform_password" class="input w-100 mt-10 p-15" placeholder="Enter Conform Password" required>
                </div>
                <div class="text-center mt-10">
                    <input type="submit" class="btn w-100 p-10" value="Change Password">
                </div>
            </div>
        </form>
    </div>
</body>