{% include 'navbar.html' %}
<body class="registration_trainee">
    <div class=" w-30 m-100" style="background-color:#F7F0F0;box-shadow: 0 0 20px gray;">
        <form action="gym_trainee_registration_action" method="post">
            <div class=" p-20">
                <div class="form-title text-center mt-10">
                    Registration Gym trainee
                </div>
                <div class="form-input mt-10">
                    <label for="first_name">First Name</label>
                    <input type="text" id="first_name" name="first_name" class="input w-100 mt-10 p-15"  placeholder="Enter the First Name" required>
                </div>
                <div class="form-input mt-10">
                    <label for="last_name">Last Name</label>
                    <input type="text" id="last_name" name="last_name" class="input w-100 mt-10 p-15"  placeholder="Enter the Last Name" required>
                </div>
                <div class="form-input mt-10">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" class="input w-100 mt-10 p-15"  placeholder="Enter  Email" required>
                </div>
                <div class="form-input mt-10">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="input w-100 mt-10 p-15" placeholder="Enter Password" required>
                </div>
                <div class="form-input mt-10">
                    <label for="conform_password">Conform Password</label>
                    <input type="password" id="conform_password" name="conform_password" class="input w-100 mt-10 p-15" placeholder="Enter Conform Password" required>
                </div>
                <div class="form-input w-50 mt-20">
                   <label>Gender </label><br>
                   <input type="radio" id="male" name="gender" class=" m-10 p-10" value="male" required>Male
                   <input type="radio" id="female" name="gender" class=" m-10 p-10" value="female" required>Female
                </div>
                <div class="form-input mt-10">
                    <label for="date_of_birth">DOB</label>
                    <input type="date" id="date_of_birth" name="date_of_birth" class="input w-100 mt-10 p-15"  placeholder="Enter Your Date Of Birth" required>
                </div>
                <div class="form-input mt-10">
                    <label for="phone">Phone Number</label>
                    <input type="text" id="phone" name="phone" class="input w-100 mt-10 p-15"  placeholder="Enter Your Phone Number" required>
                </div>
                <div class="form-input mt-10">
                    <label for="state">State</label>
                    <input type="text" id="state" name="state" class="input w-100 mt-10 p-15"  placeholder="Enter Your State" required>
                </div>
                <div class="form-input mt-10">
                    <label for="address">Address</label>
                    <textarea id="address" name="address" class="input w-100 mt-10 p-15"  placeholder="Enter Your Address" required></textarea>
                </div>
                <div class="form-input mt-10">
                    <label for="zip_code">ZIP Code</label>
                    <input type="number" id="zip_code" name="zip_code" class="input w-100 mt-10 p-15"  placeholder="Enter Your ZIP Code" required>
                </div>
                <div class="text-center ">
                    <input type="submit" class="btn mt-15 p-10 w-100" value="Register">
                </div>
            </div>
        </form>
    </div>
</body>