<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css/utilities.css">
    <link rel="stylesheet" href="/static/css/units.css">
    <link rel="stylesheet" href="/static/css/form.css">
</head>
<body>
    <div class="navbar m-5">
        <div class="nav row space-between">
            <div><img src="/static/logo/img_1.png" class="logo w-35 middle" alt=""></div>
            <ul>
                <li><a href="/gym_trainer_home">Home</a></li>
                <li><a href="/sessions">Sessions</a></li>
                <li><a href="/view_enrollments">Enrollment</a></li>
                <li><a href="/gym_trainer_logout">Logout</a></li>
            </ul>
        </div>
    </div>
</body>
</html>