{% include 'navbar.html' %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap" rel="stylesheet">
<div>
    <img src="https://img.freepik.com/premium-photo/man-lifting-weight-gym_966909-280.jpg?w=900" class="main-image w-100 " style="height: 100vh;">
    <div class="image-text" >
        “Transform Your Body, Transform Your Life”
    </div>
</div>