{% include 'membership_head.html' %}
<body class="membership">
    <div class="row space-around mt-200">
        <div class=" w-23 p-15" style="background-color:#FFEFBD;box-shadow:0 0 20px black;">
            <div class=" p-5">
                <div class="text-center form-input mt-10">
                    One Month Membership
                </div>
                <div class="text-center form-input ">
                    $ 100
                </div>
                <div class=" text-center mt-5">
                    <a href="membership_payment?membership_title=one month membership&price=100" class="btn w-100 p-10">Select</a>
                </div>
            </div>
        </div>
        <div class=" w-23 p-15" style="background-color:#FFEFBD;box-shadow:0 0 20px black;">
            <div class="p-5">
                <div class="text-center form-input mt-10">
                    Quarterly Membership
                </div>
                <div class="text-center form-input ">
                    $ 250
                </div>
                <div class=" text-center mt-5">
                    <a href="membership_payment?membership_title=Quarterly membership&price=250" class="btn w-100 p-10">Select</a>
                </div>
            </div>
        </div>
        <div class=" w-23 p-15" style="background-color:#FFEFBD;box-shadow:0 0 20px black;">
            <div class="p-5">
                <div class="text-center form-input mt-10">
                    Half early Membership
                </div>
                <div class="text-center form-input ">
                    $ 400
                </div>
                <div class=" text-center mt-5">
                    <a href="membership_payment?membership_title=Half early membership&price=400" class="btn w-100 p-10">Select</a>
                </div>
            </div>
        </div>
        <div class=" w-23 p-15" style="background-color:#FFEFBD;box-shadow:0 0 20px black;">
            <div class="p-5">
                <div class="text-center form-input mt-10">
                    Yearly Membership
                </div>
                <div class="text-center form-input">
                    $ 700
                </div>
                <div class=" text-center mt-5">
                    <a href="membership_payment?membership_title=Yearly membership&price=700" class="btn w-100 p-10">Select</a>
                </div>
            </div>
        </div>
    </div>
</body>